<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer" *ngIf="todos.length">
  <!-- This should be `0 items left` by default -->
  <!--<span class="todo-count" [ngStyle]="{'color': moreThanFive ? 'red' : ''}"><strong>{{ myTodos.length }}</strong> item left</span>-->
  <span class="todo-count" [ngStyle]="{'color': todos.length >= 5 ? 'red' : ''}"><strong>{{ todos.length }}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a class="selected" href="#/">All</a>
    </li>
    <li>
      <a href="#/active">Active</a>
    </li>
    <li>
      <a href="#/completed">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="clearCompleted()" #clearBtn>Clear completed</button>
</footer>